.btnInitScreen{
    -fx-background-color: blue;
    -fx-border-color: rgb(252, 201, 46);
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 12px;
    -fx-font-size: 20px;
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
    -fx-text-fill:rgb(252, 201, 46) ;
}
.btnInitScreen:hover{
    -fx-background-color: rgb(252, 201, 46);
    -fx-border-color: blue;
    -fx-text-fill:blue;
}
.btnPopUp{
    -fx-background-color: blue;
    -fx-border-color: rgb(252, 201, 46);
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 12px;
    -fx-font-size: 15px;
    -fx-pref-width: 150px;
    -fx-pref-height: 20px;
    -fx-text-fill:rgb(252, 201, 46) ;
}
.btnPopUp:hover{
    -fx-background-color: rgb(252, 201, 46);
    -fx-border-color: blue;
    -fx-text-fill:blue;
}
#pause-button{
    -fx-background-color: transparent;
    -fx-pref-width: 20;
    -fx-pref-height: 20;
}
#label_gameInfo{
    -fx-text-fill:white ;
}
#game_over{
    -fx-text-fill:white ;
    -fx-font-size: 30px;
}
.popup{
    -fx-background-color: #808080;
    -fx-border-color: blue;
    -fx-border-radius: 20px;
    -fx-border-width: 8px;
    -fx-background-radius: 21px;
    -fx-pref-width:300px ;
    -fx-pref-height: 100px;
    -fx-alignment: center;
}
.popup_label{
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-alignment: center;
}